<h2>Angular forms example</h2>
<p>This app is built using angular, AWS Lambda in Python and DynamoDB</p>
<p>Use the navbar to navigate to the <strong>Forms</strong> page and enter 'dummy' information.</p>
<p>The information entered is stored in a DynamoDB database then displayed in a table on the <strong>Database</strong> page.</p>
<br>
<p>You can access the guide that explains how to build an app similar to this one
  <a href="https://medium.com/@mz.soufiani/basic-angular-forms-app-with-aws-serverless-backend-in-python-part-2-227f08150c9c">here</a> !</p>
<p>The Github repo with all the code can also be accessed:</p>
<ul>
  <li><a href="https://github.com/zakaria-soufiani/inputform-backend" target="_blank">Backend</a></li>
  <li><a href="https://github.com/zakaria-soufiani/medium-test" target="_blank">Frontend</a></li>
</ul>
